* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #146C94;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            color: rgba(255, 255, 255, 0.836);
}
/* Clase Registro */
.formulari {
    width: 25em;
    background: #031f3c;
    padding: 1.875em;
    margin: auto;
    margin-top: 6.25em;
    border-radius: 0.55em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgba(255, 255, 255, 0.836);
    text-align: center;
    box-shadow: 0.43em 0.81em 2.31em #000;
}

.formulari h4 {
    font-size: 1.56em;
    margin-bottom: 1.25em;
}

.contenido {
    width: 100%;
    padding: 0.5em;
    background: #19A7CE;
    border-radius: 0.25em;
    margin-bottom: 0.7em;
    border: 0.12em solid #1353e8;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1em;
    color: #146C94;
}

.condiciones-container {
    display: flex;
    justify-content: flex-start;
}

.condiciones {
    display: flex;
    align-items: center;
    height: 2.5em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1em;
    white-space: nowrap;
}


.boton {
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 0.6em;
    color: white;
    font-size: 1em;
    transition: transform 0.1s ease;
}

.boton:active {
    transform: scale(0.95);
}

/* Clase Login */
.registro {
    width: 25em;
    background: #031f3c;
    padding: 1.875em;
    margin: auto;
    margin-top: 6.25em;
    border-radius: 0.55em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgba(255, 255, 255, 0.836);
    text-align: center;
    box-shadow: 0.43em 0.81em 2.31em #000;
}

.registro h4 {
    font-size: 1.56em;
    margin-bottom: 1.25em;
    
}
/* Clase chat */

.amigos {
    width: 70%;
    margin: 0 auto;
    background: #031f3c;
    padding: 1.875em;
    border-radius: 0.55em;
    box-shadow: 0.43em 0.81em 2.31em #000;
}
.input-amigos,
.seleccion-amigos,
.contenedor,
.linea-mensaje {
    margin-bottom: 20px;
}

input,
select {
    width: 58%;
    padding: 0.5em;
    margin-top: 5px;
    background: #19A7CE;
    border-radius: 0.25em;
    border: 0.12em solid #1353e8;
    color: #146C94;
}




.boton-chat, .boton-agregar {
    width: 28%;
    padding: 0.6em;
    margin-top: 5px;
    background: #1f53c5;
    border: none;
    color: white;
    transition: transform 0.1s ease;
}

.boton-chat:active, .boton-agregar:active {
    transform: scale(0.95);
}

.botones-ventanas {
    width: 12%;
    border: 1px solid #1353e8;
    padding: 3px;
    box-sizing: border-box;
    background: #0f4e8e;
    color: grey;
}

.logout{
    width: 8%;
    padding: 0.8em;
    float: right;
    background: #1f53c5;
    border: none;
    color: white;
    transition: transform 0.1s ease;
}

.logout:active{
    transform: scale(0.95);
}

.sentMessage {
    color: #146C94;
    text-align: right;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.receivedMessage {
    color: #19A7CE;
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.chatArea {
    height: 200px;
    width: 500px;
    border: 1px solid #000;
    overflow-y: auto;
    padding: 5px;
    white-space: pre-line;
    background: #AFD3E2;
}
